@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был изменен. <a asp-page="./Login">Войти</a>.
</p>
